Repository BinaryStudioAcademy/bsa-2025-checkly, pull requests merged in 2025-08, with the labels that each got.

#115 fix: scrollbar gutter cy-88
  apps/frontend/src/assets/css/reset.css
  apps/frontend/src/assets/css/utilities/scrollbar-gutter.css
  apps/frontend/src/assets/css/utilities/utilities.css
Labels: bug, frontend

#117 fix: dragged images cy-107
  apps/frontend/src/assets/css/utilities/grid-pattern.css
  apps/frontend/src/assets/css/variables/colors.css
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/home/components/hero/styles.module.css
  apps/frontend/src/pages/home/components/how-it-works/how-it-works.tsx
  apps/frontend/src/pages/home/components/how-it-works/styles.module.css
Labels: bug, frontend

#101 feat: Add Footer Component cy-22
  apps/frontend/src/assets/img/footer/fb.svg
  apps/frontend/src/assets/img/footer/ig.svg
  apps/frontend/src/assets/img/footer/index.ts
  apps/frontend/src/assets/img/footer/yt.svg
  apps/frontend/src/pages/home/components/components.ts
  apps/frontend/src/pages/home/components/footer/footer.tsx
  apps/frontend/src/pages/home/components/footer/styles.module.css
  apps/frontend/src/pages/home/home.tsx
  apps/frontend/src/vite-env.d.ts
  package-lock.json
  package.json
Labels: frontend, root

#122 fix: deploy config cy-0
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  apps/backend/package.json
  apps/backend/src/plugins/authorization/authorization.plugin.ts
  apps/frontend/package.json
  package-lock.json
  package.json
  packages/shared/package.json
  prepare-build.sh
Labels: frontend, backend, shared, root, workflows

#123 fix: change env name cy-0
  .github/workflows/cd.yml
Labels: workflows

#128 fix: fix mistake cy-0
  apps/frontend/index.html
Labels: frontend

#82 feat: add header component cy-57
  apps/frontend/package.json
  apps/frontend/src/assets/css/variables/colors.css
  apps/frontend/src/assets/img/header/arrow-down.svg
  apps/frontend/src/assets/img/header/header.img.tsx
  apps/frontend/src/assets/img/header/logo.svg
  apps/frontend/src/assets/img/header/profile-default.png
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app-header/app-header.tsx
  apps/frontend/src/libs/components/app-header/styles.module.css
  apps/frontend/src/libs/components/app-header/user-menu.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-dropdown-menu/use-dropdown-menu.hook.ts
  apps/frontend/src/pages/pages.ts
  apps/frontend/src/pages/test-page/test-page.tsx
  package-lock.json
Labels: frontend, root

#100 feat: add design examples component cy-20
  apps/backend/.env.example
  apps/frontend/src/pages/home/components/components.ts
  apps/frontend/src/pages/home/components/visual-layouts/layout-examples.data.ts
  apps/frontend/src/pages/home/components/visual-layouts/styles.module.css
  apps/frontend/src/pages/home/components/visual-layouts/visual-layouts.tsx
  apps/frontend/src/pages/home/home.tsx
Labels: frontend, env

#116 feat: No redirection or success message after success cy-72
  apps/frontend/src/libs/enums/success-messages.enum.ts
  apps/frontend/src/libs/modules/navigation/navigation.module.ts
  apps/frontend/src/libs/modules/navigation/navigation.ts
  apps/frontend/src/libs/modules/store/listener-middleware/listener-middleware.ts
  apps/frontend/src/pages/auth/auth.tsx
Labels: bug, frontend

#102 feat: add feedbacks page cy-21
  apps/frontend/src/pages/home/components/components.ts
  apps/frontend/src/pages/home/components/feedbacks-section/components/feedback-card/feedback-card.tsx
  apps/frontend/src/pages/home/components/feedbacks-section/components/feedback-card/styles.module.css
  apps/frontend/src/pages/home/components/feedbacks-section/components/feedback-decoration/feedbacksection-decoration.tsx
  apps/frontend/src/pages/home/components/feedbacks-section/components/feedback-decoration/styles.module.css
  apps/frontend/src/pages/home/components/feedbacks-section/components/user-avatar/styles.module.css
  apps/frontend/src/pages/home/components/feedbacks-section/components/user-avatar/user-avatar.tsx
  apps/frontend/src/pages/home/components/feedbacks-section/feedbacks-section.tsx
  apps/frontend/src/pages/home/components/feedbacks-section/styles.module.css
  apps/frontend/src/pages/home/home.tsx
  apps/frontend/src/pages/home/lib/constants.ts
Labels: frontend

#119 docs: Update test strategy cy-118
  docs/test-strategy.md
Labels: documentation, qa

#131 feat: not found page (404) implementation cy-74
  apps/frontend/src/assets/img/shared/shared.img.tsx
  apps/frontend/src/assets/img/shared/yellow-stars.svg
  apps/frontend/src/assets/img/shared/yellow-twinkles.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/types/button-size.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/not-found-page/not-found-page.tsx
  apps/frontend/src/pages/not-found-page/styles.module.css
  package-lock.json
Labels: frontend, root

#144 fix: card edges clipping on hover cy-143
  apps/frontend/src/pages/home/components/visual-layouts/styles.module.css
Labels: bug, frontend

#151 fix: block margin overlaps with screen border in small resolution cy-149
  apps/frontend/src/pages/home/components/feedbacks-section/styles.module.css
Labels: bug, frontend

#157 fix: removed placeholder text from home comp cy-156
  apps/frontend/src/pages/home/components/categories/categories.tsx
  apps/frontend/src/pages/home/components/categories/styles.module.css
  apps/frontend/src/pages/home/home.tsx
Labels: bug, frontend

#155 fix: update button state in header cy-153
  apps/frontend/src/pages/home/components/header/header.tsx
Labels: bug, frontend

#166 fix: remove sign-up white bar cy-164
  apps/frontend/src/assets/css/variables/fluid-spacing.css
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/pages/auth/components/shared/shared.module.css
  apps/frontend/src/pages/auth/components/sign-in-form/libs/constants.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: bug, frontend

#145 feat: add "My plan overview" page cy-39
  apps/frontend/src/assets/img/icons/download.svg
  apps/frontend/src/assets/img/icons/edit.svg
  apps/frontend/src/assets/img/icons/icons.tsx
  apps/frontend/src/assets/img/icons/regenerate.svg
  apps/frontend/src/assets/img/icons/remove.svg
  apps/frontend/src/assets/img/icons/save.svg
  apps/frontend/src/assets/img/icons/timer.svg
  apps/frontend/src/assets/img/shared/shapes/arrow_bold.svg
  apps/frontend/src/assets/img/shared/shapes/shapes.img.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/numbers.ts
  apps/frontend/src/pages/dashboard-wrapper-mock/components/components.ts
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/components.ts
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/day/day.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/day/styles.module.css
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/task/styles.module.css
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/task/task.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/mock-data/days-tasks-mock.ts
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/plan.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/styles.module.css
  apps/frontend/src/pages/dashboard-wrapper-mock/styles.module.css
Labels: frontend

#180 fix: category card animation cy-179
  apps/frontend/src/assets/css/reset.css
  apps/frontend/src/assets/css/utilities/grid-pattern.css
  apps/frontend/src/assets/css/variables/spacing.css
  apps/frontend/src/pages/home/components/categories/categories.tsx
  apps/frontend/src/pages/home/components/categories/category-item/category-item.tsx
  apps/frontend/src/pages/home/components/categories/category-item/styles.module.css
  apps/frontend/src/pages/home/components/categories/styles.module.css
  apps/frontend/src/pages/home/components/feedbacks-section/components/feedback-decoration/feedbacksection-decoration.tsx
  apps/frontend/src/pages/home/components/feedbacks-section/components/feedback-decoration/styles.module.css
  apps/frontend/src/pages/home/components/feedbacks-section/feedbacks-section.tsx
  apps/frontend/src/pages/home/components/feedbacks-section/styles.module.css
  apps/frontend/src/pages/home/components/footer/styles.module.css
  apps/frontend/src/pages/home/components/header/styles.module.css
  apps/frontend/src/pages/home/components/hero/hero.tsx
  apps/frontend/src/pages/home/components/hero/styles.module.css
  apps/frontend/src/pages/home/components/how-it-works/how-it-works.tsx
  apps/frontend/src/pages/home/components/how-it-works/styles.module.css
  apps/frontend/src/pages/home/components/visual-layouts/styles.module.css
  apps/frontend/src/pages/home/components/visual-layouts/visual-layouts.tsx
Labels: bug, enhancement, frontend

#190 fix(frontend): fix toastify single error message sign-in cy-188
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/error-messages.enum.ts
  apps/frontend/src/libs/helpers/get-error-message.ts
  apps/frontend/src/libs/modules/store/listener-middleware/listener-middleware.ts
  apps/frontend/src/modules/auth/slices/actions.ts
Labels: bug, frontend

#193 fix(frontend): add checkly favicon cy-184
  apps/frontend/index.html
  apps/frontend/public/android-chrome-192x192.png
  apps/frontend/public/android-chrome-512x512.png
  apps/frontend/public/apple-touch-icon.png
  apps/frontend/public/favicon-16x16.png
  apps/frontend/public/favicon-32x32.png
  apps/frontend/public/favicon.ico
  apps/frontend/public/site.webmanifest
  apps/frontend/public/vite.svg
Labels: bug, enhancement, frontend

#194 fix: Prevent Sign In/Sign Up from reloading when receiving an error on submit cy-181
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/components/protected-route/protected-route.tsx
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: bug, frontend

#199 feat: add dashboard wrapper component cy-44
  apps/frontend/src/assets/css/variables/colors.css
  apps/frontend/src/assets/css/variables/layout.css
  apps/frontend/src/libs/components/app-header/app-header.tsx
  apps/frontend/src/libs/components/app-header/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/dashboard-wrapper/dashboard-wrapper.tsx
  apps/frontend/src/libs/components/dashboard-wrapper/styles.module.css
  apps/frontend/src/libs/components/dashboard/dashboard.tsx
  apps/frontend/src/libs/components/dashboard/styles.module.css
  apps/frontend/src/libs/components/navigation-item/styles.module.css
  apps/frontend/src/libs/components/side-panel/styles.module.css
  apps/frontend/src/pages/dashboard-wrapper-mock/components/components.ts
  apps/frontend/src/pages/dashboard-wrapper-mock/components/dashboard.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/styles.module.css
  apps/frontend/src/pages/dashboard-wrapper-mock/components/wrapper.tsx
  apps/frontend/src/routes.tsx
Labels: frontend

#212 fix: visual layouts animation + homepage draggable images cy-211
  apps/frontend/src/pages/home/components/categories/category-item/category-item.tsx
  apps/frontend/src/pages/home/components/feedbacks-section/components/user-avatar/user-avatar.tsx
  apps/frontend/src/pages/home/components/visual-layouts/styles.module.css
  apps/frontend/src/pages/home/components/visual-layouts/visual-layouts.tsx
Labels: bug, frontend

#196 fix(frontend): add profile button cy-174
  apps/frontend/src/libs/components/app-header/app-header.tsx
  apps/frontend/src/libs/components/app-header/user-menu.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
Labels: bug, frontend

#136 feat: quiz backend cy-54
  apps/backend/package.json
  apps/backend/src/db/migrations/20250804082726_add_quiz_question_tables.ts
  apps/backend/src/db/seeds/add-quiz-questions.ts
  apps/backend/src/libs/modules/database/base-database.module.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/quiz-questions/libs/entities/entities.ts
  apps/backend/src/modules/quiz-questions/libs/entities/question-option.entity.ts
  apps/backend/src/modules/quiz-questions/libs/entities/question.entity.ts
  apps/backend/src/modules/quiz-questions/libs/enums/enums.ts
  apps/backend/src/modules/quiz-questions/libs/enums/relation-keys.enum.ts
  apps/backend/src/modules/quiz-questions/libs/models/models.ts
  apps/backend/src/modules/quiz-questions/libs/models/question-option.model.ts
  apps/backend/src/modules/quiz-questions/libs/models/question.model.ts
  apps/backend/src/modules/quiz-questions/libs/types/question-option-properties.type.ts
  apps/backend/src/modules/quiz-questions/libs/types/types.ts
  apps/backend/src/modules/quiz-questions/quiz-question.controller.ts
  apps/backend/src/modules/quiz-questions/quiz-question.repository.ts
  apps/backend/src/modules/quiz-questions/quiz-question.service.ts
  apps/backend/src/modules/quiz-questions/quiz-question.ts
  apps/backend/src/modules/quiz/libs/enums/enums.ts
  apps/backend/src/modules/quiz/libs/types/types.ts
  apps/backend/src/modules/quiz/libs/utilities/create-prompt.utility.ts
  apps/backend/src/modules/quiz/libs/utilities/utilities.ts
  apps/backend/src/modules/quiz/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/quiz/quiz.controller.ts
  apps/backend/src/modules/quiz/quiz.service.ts
  apps/backend/src/modules/quiz/quiz.ts
  apps/frontend/src/pages/home/components/footer/footer.tsx
  apps/frontend/src/pages/home/components/footer/styles.module.css
  knip.config.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/sanitize-text-input/sanitize-text-input.ts
  packages/shared/src/modules/quiz/libs/enums/enums.ts
  packages/shared/src/modules/quiz/libs/enums/quiz-api-path.enum.ts
  packages/shared/src/modules/quiz/libs/enums/quiz-category.enum.ts
  packages/shared/src/modules/quiz/libs/enums/quiz-question.enum.ts
  packages/shared/src/modules/quiz/libs/enums/quiz-validation-message.enum.ts
  packages/shared/src/modules/quiz/libs/types/question-option.dto.ts
  packages/shared/src/modules/quiz/libs/types/question.dto.ts
  packages/shared/src/modules/quiz/libs/types/quiz-answer.type.ts
  packages/shared/src/modules/quiz/libs/types/quiz-category.type.ts
  packages/shared/src/modules/quiz/libs/types/quiz-question.type.ts
  packages/shared/src/modules/quiz/libs/types/quiz-questions-response-dto.type.ts
  packages/shared/src/modules/quiz/libs/types/quiz-submit-answers-request-dto.type.ts
  packages/shared/src/modules/quiz/libs/types/types.ts
  packages/shared/src/modules/quiz/libs/validation-schemas/quiz-submit-answers.validation-schema.ts
  packages/shared/src/modules/quiz/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/quiz/quiz.ts
Labels: frontend, backend, shared, root

#198 feat: add dashboard screen cy-89
  apps/frontend/src/assets/css/variables/layout.css
  apps/frontend/src/assets/css/variables/spacing.css
  apps/frontend/src/assets/img/icons/create_doc.svg
  apps/frontend/src/assets/img/icons/icons.tsx
  apps/frontend/src/assets/img/shared/illustrations/layouts/example-with-remarks_plan_big.png
  apps/frontend/src/assets/img/shared/illustrations/layouts/layouts.img.tsx
  apps/frontend/src/assets/img/shared/illustrations/layouts/plan_big.svg
  apps/frontend/src/libs/components/dashboard-wrapper/styles.module.css
  apps/frontend/src/libs/components/dashboard/components/create-plan-button/create-plan-button.tsx
  apps/frontend/src/libs/components/dashboard/components/create-plan-button/styles.module.css
  apps/frontend/src/libs/components/dashboard/components/current-plan/current-plan.tsx
  apps/frontend/src/libs/components/dashboard/components/current-plan/styles.module.css
  apps/frontend/src/libs/components/dashboard/components/greeting/greeting.tsx
  apps/frontend/src/libs/components/dashboard/components/greeting/styles.module.css
  apps/frontend/src/libs/components/dashboard/components/past-plans/past-plans.tsx
  apps/frontend/src/libs/components/dashboard/components/past-plans/styles.module.css
  apps/frontend/src/libs/components/dashboard/dashboard.tsx
  apps/frontend/src/libs/components/dashboard/styles.module.css
  apps/frontend/src/pages/home/components/visual-layouts/visual-layouts.tsx
  apps/frontend/src/pages/home/lib/constants.ts
  package-lock.json
Labels: frontend, root

#186 feat: add mock service worker basic setup cy-182
  apps/frontend/eslint.config.js
  apps/frontend/package.json
  apps/frontend/public/mockServiceWorker.js
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/modules/api/mocks/browser.ts
  apps/frontend/src/libs/modules/api/mocks/handlers/handlers.ts
  apps/frontend/src/libs/modules/api/mocks/http.ts
  apps/frontend/src/libs/modules/api/mocks/libs/utilities/utilities.ts
  apps/frontend/src/libs/modules/api/mocks/mocks.ts
  apps/frontend/src/libs/modules/api/schema/endpoints/auth.yaml
  apps/frontend/src/libs/modules/api/schema/generated.ts
  apps/frontend/src/libs/modules/api/schema/main.yaml
  apps/frontend/src/libs/modules/api/schema/schema.ts
  apps/frontend/src/libs/modules/api/schema/shared/responses.yaml
  apps/frontend/src/modules/auth/mocks/handlers/auth.ts
  apps/frontend/src/modules/auth/mocks/handlers/sign-in.handler.ts
  apps/frontend/src/modules/auth/mocks/handlers/sign-up.handler.ts
  apps/frontend/src/modules/auth/mocks/libs/constants/constants.ts
  apps/frontend/src/modules/auth/mocks/libs/enums/enums.ts
  apps/frontend/src/modules/auth/mocks/libs/utilities/utilities.ts
  apps/frontend/tsconfig.json
  knip.config.ts
  package-lock.json
Labels: documentation, frontend, root

#245 fix: Side Panel's border width is too big and uneven cy-234
  apps/frontend/src/assets/css/variables/layout.css
  apps/frontend/src/assets/css/variables/spacing.css
  apps/frontend/src/libs/components/app-header/styles.module.css
  apps/frontend/src/libs/components/side-panel/styles.module.css
Labels: bug, frontend

#246 fix: Header has incorrect background color and visible divider cy-235
  apps/frontend/src/libs/components/app-header/app-header.tsx
Labels: bug, frontend

#248 fix: Dashboard and My Plan sections stretch to fill the browser cy-232
  apps/frontend/src/libs/components/dashboard/dashboard.tsx
  apps/frontend/src/libs/components/dashboard/styles.module.css
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/task/styles.module.css
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/task/task.tsx
Labels: enhancement, frontend

#255 fix(frontend): fixed quiz api path cy-254
  packages/shared/src/modules/quiz/libs/enums/quiz-api-path.enum.ts
Labels: bug, shared

#204 feat: add plan generation loader cy-56
  apps/frontend/eslint.config.js
  apps/frontend/src/assets/img/shared/illustrations/illustrations.img.tsx
  apps/frontend/src/assets/img/shared/illustrations/teddy.png
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app-header/app-header.tsx
  apps/frontend/src/libs/components/side-panel/side-panel.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/modules/api/mocks/handlers/handlers.ts
  apps/frontend/src/libs/modules/api/schema/endpoints/auth.yaml
  apps/frontend/src/libs/modules/api/schema/endpoints/plan.yaml
  apps/frontend/src/libs/modules/api/schema/generated.ts
  apps/frontend/src/libs/modules/api/schema/main.yaml
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/auth/mocks/handlers/auth.ts
  apps/frontend/src/modules/auth/mocks/handlers/me.handler.ts
  apps/frontend/src/modules/auth/mocks/libs/constants/constants.ts
  apps/frontend/src/modules/plans/libs/enums/enums.ts
  apps/frontend/src/modules/plans/libs/types/types.ts
  apps/frontend/src/modules/plans/mocks/handlers/plan-generation.handler.ts
  apps/frontend/src/modules/plans/mocks/handlers/plan.ts
  apps/frontend/src/modules/plans/mocks/libs/constants/constants.ts
  apps/frontend/src/modules/plans/mocks/libs/enums/enums.ts
  apps/frontend/src/modules/plans/plans-api.ts
  apps/frontend/src/modules/plans/plans.ts
  apps/frontend/src/modules/plans/slices/actions.ts
  apps/frontend/src/modules/plans/slices/plan.slice.ts
  apps/frontend/src/modules/plans/slices/plan.ts
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/plan.tsx
  apps/frontend/src/pages/pages.ts
  apps/frontend/src/pages/plan-generation/components/slider/libs/constants/constants.ts
  apps/frontend/src/pages/plan-generation/components/slider/slider.tsx
  apps/frontend/src/pages/plan-generation/components/slider/styles.module.css
  apps/frontend/src/pages/plan-generation/libs/constants/constants.ts
  apps/frontend/src/pages/plan-generation/libs/hooks/hooks.ts
  apps/frontend/src/pages/plan-generation/libs/types/types.ts
  apps/frontend/src/pages/plan-generation/plan-generation.tsx
  apps/frontend/src/pages/plan-generation/styles.module.css
  apps/frontend/src/routes.tsx
  packages/shared/src/modules/plans/libs/enums/plans-api-path.enum.ts
Labels: frontend, shared

#261 fix: replace await with promise enableMocking cy-259
  apps/frontend/eslint.config.js
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/modules/api/mocks/mocks.ts
Labels: bug, frontend

#189 feat: dashboard header Logout button does not log out user cy-169
  apps/frontend/src/libs/components/app-header/user-menu.tsx
  apps/frontend/src/libs/components/navigation-item/navigation-item.tsx
  apps/frontend/src/libs/constants/messages.constants.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
Labels: bug, frontend

#210 feat: Add 3 more plans styles cy-160
  apps/frontend/src/assets/css/fonts.css
  apps/frontend/src/assets/css/scaffolding.css
  apps/frontend/src/assets/css/variables/colors.css
  apps/frontend/src/assets/css/variables/typography.css
  apps/frontend/src/assets/fonts/Avenir-Heavy.ttf
  apps/frontend/src/assets/fonts/Avenir-Roman.ttf
  apps/frontend/src/libs/components/dashboard/components/current-plan/current-plan.tsx
  apps/frontend/src/libs/components/dashboard/components/current-plan/styles.module.css
  apps/frontend/src/libs/components/dashboard/components/greeting/styles.module.css
  apps/frontend/src/libs/components/dashboard/components/past-plans/past-plans.tsx
  apps/frontend/src/libs/components/dashboard/components/past-plans/styles.module.css
  apps/frontend/src/libs/components/dashboard/styles.module.css
  apps/frontend/src/libs/components/plan-styles/components/components.ts
  apps/frontend/src/libs/components/plan-styles/components/day/day.tsx
  apps/frontend/src/libs/components/plan-styles/components/day/styles.module.css
  apps/frontend/src/libs/components/plan-styles/components/header/header.tsx
  apps/frontend/src/libs/components/plan-styles/components/header/styles.module.css
  apps/frontend/src/libs/components/plan-styles/components/notes/notes.tsx
  apps/frontend/src/libs/components/plan-styles/components/notes/styles.module.css
  apps/frontend/src/libs/components/plan-styles/components/task/styles.module.css
  apps/frontend/src/libs/components/plan-styles/components/task/task.tsx
  apps/frontend/src/libs/components/plan-styles/mocks/plan-mocks.ts
  apps/frontend/src/libs/components/plan-styles/plan-style/plan-style.tsx
  apps/frontend/src/libs/components/plan-styles/plan-style/styles.module.css
  apps/frontend/src/libs/components/plan-styles/styles/with-remarks/styles.module.css
  apps/frontend/src/libs/components/plan-styles/styles/with-remarks/themes/colourful/styles.module.css
  apps/frontend/src/libs/components/plan-styles/styles/with-remarks/themes/minimal/styles.module.css
  apps/frontend/src/libs/components/plan-styles/styles/with-remarks/themes/regular/day/day.module.css
  apps/frontend/src/libs/components/plan-styles/styles/with-remarks/themes/regular/header/header.module.css
  apps/frontend/src/libs/components/plan-styles/styles/with-remarks/themes/regular/task/task.module.css
  apps/frontend/src/libs/components/side-panel/styles.module.css
  apps/frontend/src/libs/constants/weekdays.ts
  apps/frontend/src/libs/enums/plan-style-modules.enum.ts
  apps/frontend/src/libs/helpers/get-weekday.ts
  apps/frontend/src/libs/types/plan/plan-day.type.ts
  apps/frontend/src/libs/types/plan/plan-style-option.type.ts
  apps/frontend/src/libs/types/plan/plan-view-option.type.ts
  apps/frontend/src/libs/types/plan/plan.type.ts
  apps/frontend/src/libs/types/plan/task.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/auth/components/shared/shared.module.css
  apps/frontend/src/pages/choose-style/choose-style.data.ts
  apps/frontend/src/pages/choose-style/choose-style.tsx
  apps/frontend/src/pages/choose-style/style.module.css
  apps/frontend/src/pages/home/components/categories/category-item/styles.module.css
  apps/frontend/src/pages/home/components/hero/hero.tsx
  apps/frontend/src/pages/home/components/how-it-works/styles.module.css
  apps/frontend/src/pages/home/components/visual-layouts/libs/constants.ts
  apps/frontend/src/pages/home/components/visual-layouts/styles.module.css
  apps/frontend/src/pages/home/components/visual-layouts/visual-layouts.tsx
  apps/frontend/src/pages/home/lib/constants.ts
  apps/frontend/src/pages/not-found-page/styles.module.css
  apps/frontend/src/pages/quiz/questions/components/question-page/styles.module.css
  apps/frontend/src/pages/test-page/styles.module.css
  apps/frontend/src/pages/test-page/test-page.tsx
  apps/frontend/src/routes.tsx
Labels: frontend

#268 refactor(frontend): change logout navigation to homepage cy-169
  apps/frontend/src/modules/auth/slices/actions.ts
Labels: bug, frontend

#239 feat: update plan module to add "/generate" endpoint cy-229
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/plans/libs/types/types.ts
  apps/backend/src/modules/plans/libs/utilities/create-prompt.utility.ts
  apps/backend/src/modules/plans/libs/utilities/utilities.ts
  apps/backend/src/modules/plans/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/plans/plan.controller.ts
  apps/backend/src/modules/plans/plan.service.ts
  apps/backend/src/modules/plans/plans.ts
  apps/backend/src/modules/quiz-questions/quiz-question.ts
  apps/backend/src/modules/quiz/libs/enums/enums.ts
  apps/backend/src/modules/quiz/libs/types/types.ts
  apps/backend/src/modules/quiz/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/quiz/quiz.controller.ts
  apps/backend/src/modules/quiz/quiz.service.ts
  apps/backend/src/modules/quiz/quiz.ts
  apps/frontend/package.json
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/types/app-route.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/quiz/libs/enums/enums.ts
  apps/frontend/src/modules/quiz/libs/storage/quiz-storage.ts
  apps/frontend/src/modules/quiz/libs/types/types.ts
  apps/frontend/src/modules/quiz/libs/validation-schemas/quiz.validation-schema.ts
  apps/frontend/src/modules/quiz/quiz-api.ts
  apps/frontend/src/modules/quiz/slices/actions.ts
  apps/frontend/src/modules/quiz/slices/quiz.slice.ts
  apps/frontend/src/modules/quiz/slices/quiz.ts
  apps/frontend/src/pages/home/components/visual-layouts/visual-layouts.tsx
  apps/frontend/src/pages/quiz/questions/components/notes-page/styles.module.css
  apps/frontend/src/pages/quiz/questions/question-flow.tsx
  apps/frontend/src/pages/quiz/questions/styles.module.css
  apps/frontend/src/pages/quiz/styles.module.css
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/modules/plans/libs/enums/plans-validation-rule.enum.ts
  packages/shared/src/modules/quiz/libs/enums/enums.ts
  packages/shared/src/modules/quiz/libs/enums/quiz-answers-rules.enum.ts
  packages/shared/src/modules/quiz/libs/enums/quiz-api-path.enum.ts
  packages/shared/src/modules/quiz/libs/enums/quiz-validation-message.enum.ts
  packages/shared/src/modules/quiz/libs/utilities/utilities.ts
  packages/shared/src/modules/quiz/libs/validation-schemas/quiz-shared.validation-schema.ts
  packages/shared/src/modules/quiz/libs/validation-schemas/quiz-state.validation-schema.ts
  packages/shared/src/modules/quiz/libs/validation-schemas/quiz-submit-answers.validation-schema.ts
  packages/shared/src/modules/quiz/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/quiz/quiz.ts
Labels: frontend, backend, shared, root

#274 feat: remove exact-optional-property-types from ts-config cy-273
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/decorative-image/decorative-image.tsx
  tsconfig.json
Labels: enhancement, frontend, root

#257 feat: add user avatar cy-178
  apps/backend/.env.example
  apps/backend/src/db/migrations/20250812120000_add_avatar_url_to_users.ts
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/files/file.ts
  apps/backend/src/modules/users/helpers/avatar-controller.helper.ts
  apps/backend/src/modules/users/helpers/avatar.helper.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/assets/img/header/header.img.tsx
  apps/frontend/src/assets/img/icons/edit-photo.svg
  apps/frontend/src/assets/img/icons/icons.tsx
  apps/frontend/src/assets/img/shared/avatars/avatar-default.png
  apps/frontend/src/assets/img/shared/avatars/avatars.img.tsx
  apps/frontend/src/libs/components/app-header/app-header.tsx
  apps/frontend/src/libs/components/avatar-edit/avatar-edit.tsx
  apps/frontend/src/libs/components/avatar-edit/handlers.ts
  apps/frontend/src/libs/components/avatar-edit/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/side-panel/side-panel.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/success-messages.enum.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/helpers/sanitize-filename.ts
  apps/frontend/src/libs/modules/api/base-http-api.ts
  apps/frontend/src/libs/modules/api/libs/types/http-api-options.type.ts
  apps/frontend/src/libs/modules/store/listener-middleware/listener-middleware.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/pages/profile/profile.tsx
  package-lock.json
  package.json
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/upload.constants.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/libs/modules/http/libs/types/http-method.type.ts
  packages/shared/src/libs/types/nullable.type.ts
  packages/shared/src/libs/types/route-parameters-with-id.type.ts
  packages/shared/src/libs/types/types.ts
  packages/shared/src/modules/users/libs/enums/avatar-allowed-types.enum.ts
  packages/shared/src/modules/users/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/enums/s3-bucket-index.enum.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/user-dto.type.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, backend, shared, root, env

#295 fix: enhance code to meet quality criteria cy-289
  apps/backend/src/db/migrations/20250727185929_plans_days_task_tables.ts
  apps/backend/src/libs/modules/token/base-token.module.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/quiz-questions/quiz-question.controller.ts
  apps/backend/src/modules/quiz-questions/quiz-question.repository.ts
  apps/backend/src/modules/quiz-questions/quiz-question.service.ts
  apps/backend/src/modules/users/helpers/avatar.helper.ts
  apps/backend/src/plugins/authorization/authorization.plugin.ts
  apps/frontend/src/assets/img/footer/footer.img.ts
  apps/frontend/src/libs/components/side-panel/side-panel.tsx
  apps/frontend/src/libs/hooks/use-dropdown-menu/use-dropdown-menu.hook.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/libs/constants.ts
  apps/frontend/src/pages/choose-style/choose-style.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/day/day.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/mock-data/days-tasks-mock.ts
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/plan.tsx
  apps/frontend/src/pages/home/components/footer/footer.tsx
  apps/frontend/src/pages/home/components/hero/hero.tsx
  apps/frontend/src/pages/home/components/hero/libs/constants.ts
  apps/frontend/src/pages/not-found-page/not-found-page.tsx
  apps/frontend/src/pages/quiz/mock-data/mock-data.ts
  apps/frontend/src/pages/quiz/questions/components/question-page/components/checkbox-question/styles.module.css
  apps/frontend/src/pages/quiz/questions/components/question-page/components/mixed-question/styles.module.css
  apps/frontend/src/pages/quiz/questions/components/question-page/components/radio-question/styles.module.css
  apps/frontend/src/pages/quiz/questions/components/question-page/components/single-choice-with-text-question/styles.module.css
  apps/frontend/src/pages/quiz/questions/question-flow.tsx
  apps/frontend/src/pages/quiz/quiz.tsx
Labels: bug, enhancement, frontend, backend

#306 fix(frontend): return dropdown buttons for tablets/phones cy-304
  apps/frontend/src/libs/components/app-header/user-menu.tsx
Labels: bug, frontend

#286 feat: fix choose style page cy-250
  apps/frontend/src/pages/choose-style/choose-style.tsx
  apps/frontend/src/pages/choose-style/style.module.css
Labels: bug, frontend

#321 fix(frontend): notes page sanitizer cy-15
  apps/frontend/src/pages/quiz/questions/components/notes-page/notes-page.tsx
Labels: bug, frontend

#336 fix: make "day x" button container larger cy-333
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/day/styles.module.css
Labels: enhancement, frontend

#327 feat(frontend): plan preview post quiz flow cy-298
  apps/frontend/src/libs/components/plan-styles/mocks/plan-mocks.ts
  apps/frontend/src/libs/components/plan-styles/plan-style/plan-style.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/messages.constants.ts
  apps/frontend/src/libs/constants/plan-name.constants.ts
  apps/frontend/src/libs/constants/redirect.constants.ts
  apps/frontend/src/libs/modules/notifications/notifications.module.ts
  apps/frontend/src/modules/pdf-export/slices/actions.ts
  apps/frontend/src/modules/pdf-export/slices/pdf-export.slice.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/plan-style-overview/components/components.ts
  apps/frontend/src/pages/plan-style-overview/components/plan-actions/plan-actions.tsx
  apps/frontend/src/pages/plan-style-overview/components/toast-success/styles.module.css
  apps/frontend/src/pages/plan-style-overview/components/toast-success/toast-success.tsx
  apps/frontend/src/pages/plan-style-overview/lib/enums/enums.ts
  apps/frontend/src/pages/plan-style-overview/plan-style-overview.tsx
Labels: enhancement, frontend

#334 feat: update quiz frontend cy-284
  apps/backend/src/db/seeds/02-add-quiz-questions.ts
  apps/frontend/src/assets/css/compositions/grid.css
  apps/frontend/src/assets/css/reset.css
  apps/frontend/src/assets/css/utilities/flow.css
  apps/frontend/src/assets/css/utilities/responsive.css
  apps/frontend/src/assets/css/variables/breakpoints.css
  apps/frontend/src/libs/enums/button-properties.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/placeholder-values.enum.ts
  apps/frontend/src/pages/quiz/components/quiz-category-card/quiz-category-card.tsx
  apps/frontend/src/pages/quiz/components/quiz-category-card/styles.module.css
  apps/frontend/src/pages/quiz/questions/components/notes-page/notes-page.tsx
  apps/frontend/src/pages/quiz/questions/components/notes-page/styles.module.css
  apps/frontend/src/pages/quiz/questions/components/progress-bar/progress-bar.tsx
  apps/frontend/src/pages/quiz/questions/components/progress-bar/styles.module.css
  apps/frontend/src/pages/quiz/questions/components/question-navigation/question-navigation.tsx
  apps/frontend/src/pages/quiz/questions/components/question-navigation/styles.module.css
  apps/frontend/src/pages/quiz/questions/components/question-page/components/radio-question/styles.module.css
  apps/frontend/src/pages/quiz/questions/components/question-page/components/single-choice-with-text-question/single-choice-with-text-question.tsx
  apps/frontend/src/pages/quiz/questions/components/question-page/components/single-choice-with-text-question/styles.module.css
  apps/frontend/src/pages/quiz/questions/components/question-page/components/text-question/styles.module.css
  apps/frontend/src/pages/quiz/questions/components/question-page/question-page.tsx
  apps/frontend/src/pages/quiz/questions/components/question-page/styles.module.css
  apps/frontend/src/pages/quiz/questions/libs/data-utilities.ts
  apps/frontend/src/pages/quiz/questions/question-flow.tsx
  apps/frontend/src/pages/quiz/questions/styles.module.css
  apps/frontend/src/pages/quiz/quiz.tsx
  apps/frontend/src/pages/quiz/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/quiz/libs/enums/enums.ts
  packages/shared/src/modules/quiz/libs/enums/quiz-question.enum.ts
  packages/shared/src/modules/quiz/quiz.ts
Labels: frontend, backend, shared

#344 feat(frontend): improvement of responsive design for mobile cy-338
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/plan-category.constants.tsx
  apps/frontend/src/libs/types/plan-category-id.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/plan-style-overview/components/plan-actions/styles.module.css
  apps/frontend/src/pages/plan-style-overview/components/plan-style-category/plan-style-category.tsx
  apps/frontend/src/pages/plan-style-overview/components/plan-style-category/styles.module.css
  apps/frontend/src/pages/plan-style-overview/plan-style-overview.tsx
  apps/frontend/src/pages/plan-style-overview/styles.module.css
Labels: enhancement, frontend

#353 fix(frontend): plan overview page buttons width difference cy-352
  apps/frontend/src/libs/components/plan-styles/plan-style/styles.module.css
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/plan.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/styles.module.css
  apps/frontend/src/pages/plan-style-overview/components/plan-actions/plan-actions.tsx
  apps/frontend/src/pages/plan-style-overview/components/plan-actions/styles.module.css
  apps/frontend/src/pages/plan-style-overview/components/plan-style-category/styles.module.css
  apps/frontend/src/pages/plan-style-overview/styles.module.css
Labels: bug, frontend

#350 fix: repeated styles in sample layouts cy-342
  apps/frontend/src/pages/home/components/visual-layouts/libs/constants.ts
Labels: frontend

#364 fix(frontend): persist form input values after failed sign-in and sign-up cy-362
  apps/frontend/src/pages/auth/auth.tsx
Labels: bug, frontend

#357 fix: plan not associated to user after succesful authentication cy-349
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/plans/plans.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/slices/actions.ts
Labels: bug, frontend, backend

#372 fix(backend): dob field doesn't accept nullish values cy-363
  apps/backend/src/modules/users/helpers/user-validation.helper.ts
Labels: bug, backend

#375 fix: missing background on two quiz buttons cy-360
  apps/frontend/src/pages/quiz/questions/components/question-navigation/question-navigation.tsx
  apps/frontend/src/pages/quiz/quiz.tsx
Labels: bug, frontend

#388 feat: update landing links cy-380
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/home/components/footer/footer.tsx
  apps/frontend/src/pages/home/components/hero/hero.tsx
  apps/frontend/src/pages/quiz/questions/components/notes-page/notes-page.tsx
Labels: bug, enhancement, frontend

#392 fix: forgot/reset password endpoints – security and validation issues cy-385
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/password-token/password-token.repository.ts
  apps/backend/src/modules/password-token/password-token.service.ts
  apps/backend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/pages/auth/components/reset-password/libs/constants/default-reset-password-values.ts
  apps/frontend/src/pages/auth/components/reset-password/reset-password.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/types/reset-password-request-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/forgot-password.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/reset-password-with-token.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/users/users.ts
Labels: bug, frontend, backend, shared

#408 fix: remove duplicated button cy-399
  apps/backend/src/modules/plan-calendar-export/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/plan-calendar-export/plan-calendar-export.service.ts
  apps/frontend/src/pages/plan-style-overview/plan-style-overview.tsx
Labels: bug, frontend, backend

#405 fix(frontend): fix layout button and blank space at the bottom cy-398
  apps/frontend/src/libs/components/dashboard/components/greeting/styles.module.css
  apps/frontend/src/libs/components/dashboard/styles.module.css
Labels: bug, enhancement, frontend

#406 fix(frontend): fix slider of templates on mobile view cy-404
  apps/frontend/src/pages/home/components/visual-layouts/styles.module.css
Labels: bug, frontend

#416 fix: manually edited tasks are not displayed cy-409
  apps/backend/src/modules/plans/plan.repository.ts
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/tasks/task/task.tsx
Labels: bug, frontend, backend

#419 fix: Reload Plan-Style-Overview page breaks the app cy-418
  apps/frontend/src/pages/plan-style-overview/plan-style-overview.tsx
Labels: bug, frontend

#417 feat: edit page post quiz flow cy-300
  apps/frontend/src/assets/img/icons/icons.tsx
  apps/frontend/src/assets/img/icons/regenerate.svg
  apps/frontend/src/assets/img/icons/save.svg
  apps/frontend/src/libs/components/app-header/styles.module.css
  apps/frontend/src/libs/components/confirmation-modal/confirmation-modal.tsx
  apps/frontend/src/libs/components/confirmation-modal/styles.module.css
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/components/modal/styles.module.css
  apps/frontend/src/libs/components/textarea/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/numbers.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/helpers/get-edited-tasks.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-a4-scale/use-a4-scale.hook.ts
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/libs/types/days-nav.type.ts
  apps/frontend/src/libs/types/plan-edit-form.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/plans/slices/plan.slice.ts
  apps/frontend/src/pages/choose-style/choose-style.tsx
  apps/frontend/src/pages/choose-style/style.module.css
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/tasks/task/task.tsx
  apps/frontend/src/pages/plan-edit/components/components.ts
  apps/frontend/src/pages/plan-edit/components/days-nav/days-nav.tsx
  apps/frontend/src/pages/plan-edit/components/days-nav/styles.module.css
  apps/frontend/src/pages/plan-edit/components/editing-panel/components/components.ts
  apps/frontend/src/pages/plan-edit/components/editing-panel/components/day-editor/day-editor.tsx
  apps/frontend/src/pages/plan-edit/components/editing-panel/components/day-editor/styles.module.css
  apps/frontend/src/pages/plan-edit/components/editing-panel/components/notes-editor/notes-editor.tsx
  apps/frontend/src/pages/plan-edit/components/editing-panel/editing-panel.tsx
  apps/frontend/src/pages/plan-edit/components/editing-panel/styles.module.css
  apps/frontend/src/pages/plan-edit/components/plan-preview/plan-preview.tsx
  apps/frontend/src/pages/plan-edit/components/plan-preview/styles.module.css
  apps/frontend/src/pages/plan-edit/libs/enums/enums.ts
  apps/frontend/src/pages/plan-edit/libs/enums/task-notification-message.enums.ts
  apps/frontend/src/pages/plan-edit/libs/types/render-task-input-properties.type.ts
  apps/frontend/src/pages/plan-edit/libs/types/types.ts
  apps/frontend/src/pages/plan-edit/libs/validation-schema/validation-schemas.ts
  apps/frontend/src/pages/plan-edit/plan-edit.tsx
  apps/frontend/src/pages/plan-edit/styles.module.css
  apps/frontend/src/routes.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/tasks/libs/validation-schemas/task-create.validation-schema.ts
  packages/shared/src/modules/tasks/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/tasks/tasks.ts
Labels: frontend, shared

#423 fix: plan regeneration cy-202
  apps/frontend/src/modules/plans/slices/actions.ts
  apps/frontend/src/pages/quiz/questions/question-flow.tsx
  packages/shared/src/modules/openai/libs/validation-schemas/plan-generate.validation-schema.ts
Labels: bug, frontend, shared

#442 fix: download button loader misaligned on plan overview cy-426
  apps/frontend/src/pages/plan-style-overview/components/plan-actions/styles.module.css
Labels: bug, frontend

#451 fix: quiz category issues cy-435
  apps/frontend/src/pages/quiz/quiz.tsx
Labels: frontend

#452 feat: add mobile export cy-323
  apps/frontend/src/libs/components/plan-styles/plan-style/plan-style.tsx
  apps/frontend/src/libs/components/plan-styles/plan-style/styles.module.css
  apps/frontend/src/libs/components/plan-styles/styles/with-remarks/themes/colourful/styles.module.css
  apps/frontend/src/libs/components/plan-styles/styles/with-remarks/themes/regular/day/day.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/plan-style.constants.ts
  apps/frontend/src/modules/pdf-export/slices/actions.ts
  apps/frontend/src/pages/plan-style-overview/components/plan-style-category/plan-style-category.tsx
Labels: frontend

#455 feat: plan edit page inhancements cy-431
  apps/backend/src/modules/tasks/task.controller.ts
  apps/frontend/src/assets/img/icons/icons.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/confirmation-modal/confirmation-modal.tsx
  apps/frontend/src/libs/components/plan-task-create-form/libs/types/types.ts
  apps/frontend/src/libs/components/plan-task-create-form/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/libs/components/plan-task-create-form/plan-task-create-form.tsx
  apps/frontend/src/libs/components/plan-task-create-form/plan-task-select-styles.ts
  apps/frontend/src/libs/components/plan-task-create-form/styles.module.css
  apps/frontend/src/libs/components/task-time-selector/libs/enums/enums.ts
  apps/frontend/src/libs/components/task-time-selector/libs/types/types.ts
  apps/frontend/src/libs/components/task-time-selector/task-time-selector.tsx
  apps/frontend/src/libs/components/task-time-selector/time-time-select-styles.ts
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/modules/tasks/libs/types/types.ts
  apps/frontend/src/modules/tasks/slices/actions.ts
  apps/frontend/src/modules/tasks/slices/task.ts
  apps/frontend/src/modules/tasks/tasks-api.ts
  apps/frontend/src/modules/tasks/tasks.ts
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/libs/types/types.ts
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/tasks/task/task.tsx
  apps/frontend/src/pages/plan-edit/libs/types/types.ts
  apps/frontend/src/pages/plan-edit/plan-edit.tsx
  apps/frontend/src/pages/plan-edit/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/tasks/libs/types/task-update-request-dto.type.ts
  packages/shared/src/modules/tasks/libs/validation-schemas/task-create.validation-schema.ts
  packages/shared/src/modules/tasks/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/tasks/tasks.ts
Labels: enhancement, frontend, backend, shared

#466 feat(frontend): add modal windows and informative messages cy-432
  apps/backend/.puppeteerrc.js
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/days/day/day.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/libs/constants/constants.ts
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/tasks/task/task.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/plan.tsx
Labels: bug, enhancement, frontend, backend

#463 feat: add button to edit page cy-461
  apps/frontend/src/libs/components/plan-task-create-form/plan-task-create-form.tsx
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/pages/home/components/feedbacks-section/components/feedback-modals/add-feedback.modal.tsx
  apps/frontend/src/pages/plan-edit/plan-edit.tsx
  apps/frontend/src/pages/plan-edit/styles.module.css
Labels: frontend

#465 feat: Disable buttons on regeneration cy-464
  apps/frontend/src/libs/components/navigation-item/navigation-item.tsx
  apps/frontend/src/modules/plans/slices/plan.slice.ts
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/days/day/day.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/days/list/list.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/tasks/task/task.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/plan.tsx
  apps/frontend/src/pages/plan-edit/plan-edit.tsx
Labels: enhancement, frontend

#467 feat: reworked feedback flow cy-390
  apps/backend/src/libs/modules/middleware/error-mapper.middleware.ts
  apps/frontend/src/libs/components/app-header/app-header.tsx
  apps/frontend/src/libs/components/app-header/user-menu.tsx
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/feedback-manager/components/feedback-button/feedback-button.tsx
  apps/frontend/src/libs/components/feedback-manager/components/feedback-modals/add-feedback.modal.tsx
  apps/frontend/src/libs/components/feedback-manager/components/feedback-modals/delete-feedback.modal.tsx
  apps/frontend/src/libs/components/feedback-manager/components/feedback-modals/edit-feedback.modal.tsx
  apps/frontend/src/libs/components/feedback-manager/components/feedback-modals/styles.module.css
  apps/frontend/src/libs/components/feedback-manager/feedback-manager.tsx
  apps/frontend/src/libs/components/feedback-manager/styles.module.css
  apps/frontend/src/libs/components/modal/modal.tsx
  apps/frontend/src/libs/components/side-panel/side-panel.tsx
  apps/frontend/src/libs/components/side-panel/styles.module.css
  apps/frontend/src/libs/components/textarea/styles.module.css
  apps/frontend/src/libs/components/textarea/textarea.tsx
  apps/frontend/src/libs/components/toast-container/toast-container.tsx
  apps/frontend/src/libs/hooks/use-dropdown-menu/use-dropdown-menu.hook.ts
  apps/frontend/src/pages/home/components/feedbacks-section/components/feedback-card/feedback-card.tsx
  apps/frontend/src/pages/home/components/feedbacks-section/components/feedback-card/styles.module.css
  apps/frontend/src/pages/home/components/feedbacks-section/components/feedback-list/feedback-list.tsx
  apps/frontend/src/pages/home/components/feedbacks-section/components/user-avatar/styles.module.css
  apps/frontend/src/pages/home/components/feedbacks-section/feedbacks-section.tsx
  apps/frontend/src/pages/home/components/feedbacks-section/styles.module.css
  apps/frontend/src/pages/home/lib/constants.ts
  packages/shared/src/libs/helpers/sanitize-text-input/sanitize-feedback-input.ts
  packages/shared/src/modules/feedbacks/libs/emums/feedback-validation-message.enum.ts
Labels: bug, frontend, backend, shared

#480 fix: restore scrollbar after task regeneration cy-479
  apps/frontend/src/libs/components/modal/modal.tsx
Labels: bug, frontend

#475 fix: Selected plan style enhancement cy-472
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/plans/slices/actions.ts
  apps/frontend/src/modules/plans/slices/plan.slice.ts
Labels: bug, frontend

#483 fix(frontend): temporay fix for demo cy-482
  apps/frontend/src/pages/plan-style-overview/components/plan-actions/plan-actions.tsx
  apps/frontend/src/pages/plan-style-overview/components/plan-style-category/plan-style-category.tsx
  apps/frontend/src/pages/plan-style-overview/plan-style-overview.tsx
  apps/frontend/src/pages/plan-style-overview/styles.module.css
Labels: frontend

#487 fix: update task adding and task deletion cy-485
  apps/frontend/src/libs/components/modal/modal.tsx
  apps/frontend/src/libs/components/modal/styles.module.css
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/components/tasks/list/list.tsx
  apps/frontend/src/pages/dashboard-wrapper-mock/components/plan/plan.tsx
  apps/frontend/src/pages/home/components/categories/categories.tsx
  apps/frontend/src/pages/home/components/categories/styles.module.css
  apps/frontend/src/pages/plan-edit/libs/types/render-task-input-properties.type.ts
  apps/frontend/src/pages/plan-edit/plan-edit.tsx
Labels: bug, frontend
