Repository BinaryStudioAcademy/bsa-2025-checkly, pull requests merged in 2025-07, with the labels that each got.

#24 feat: add loader component cy-12
  apps/frontend/package.json
  apps/frontend/src/assets/css/scaffolding.css
  apps/frontend/src/assets/css/styles.css
  apps/frontend/src/assets/css/utilities/utilities.css
  apps/frontend/src/assets/css/utilities/visually-hidden.css
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/components/loader/styles.module.css
  apps/frontend/src/libs/helpers/get-class-names.ts
  apps/frontend/src/libs/helpers/helpers.ts
  package-lock.json
Labels: enhancement, frontend, root

#47 feat: Sign up flow added cy-3
  apps/frontend/src/assets/css/scaffolding.css
  apps/frontend/src/assets/img/sign-up/car-image.png
  apps/frontend/src/assets/img/sign-up/orange-image.png
  apps/frontend/src/assets/img/sign-up/sign-up.img.tsx
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  eslint.config.js
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema-extended.ts
  packages/shared/src/modules/users/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, shared, root, conflict

#67 fix: Sign in cy-4
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
Labels: frontend, shared

#38 docs: add test strategy document cy-31
  docs/test-strategy.md
Labels: documentation, qa

#61 feat: enhance grid-pattern css util cy-60
  apps/frontend/src/assets/css/utilities/grid-pattern.css
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/home/home.tsx
  apps/frontend/src/pages/home/styles.module.css
Labels: enhancement, frontend, conflict

#29 feat(backend): implement jwt authorization plugin cy-9
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/libs/modules/config/config.ts
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/plugins/authorization/authorization.plugin.ts
  apps/backend/src/plugins/authorization/authorization.ts
  apps/backend/src/plugins/authorization/libs/types/types.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/libs/exceptions/authorization-error/authorization-error.exception.ts
Labels: backend, shared, root, env

#30 feat(frontend): implement authentication persistence on page refresh cy-10
  apps/backend/package.json
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/hooks/use-auth-initialization/use-auth-initialization.hook.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/libs/types/types.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/http-method.enum.ts
  packages/shared/src/modules/auth/libs/enums/auth-api-path.enum.ts
Labels: frontend, backend, shared, conflict

#73 docs: add example jwt configuration values to env example file cy-07
  apps/backend/.env.example
Labels: documentation, env

#25 feat(backend): implement fetch authenticated user functionality cy-11
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/libs/modules/http/http.ts
  apps/backend/src/libs/modules/http/libs/enums/enums.ts
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/users.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/error-message.enum.ts
  packages/shared/src/libs/modules/http/http.ts
  packages/shared/src/libs/modules/http/libs/enums/enums.ts
  packages/shared/src/libs/modules/http/libs/enums/http-method.enum.ts
  packages/shared/src/modules/auth/libs/enums/auth-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-get-all-item-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-get-all-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-profile-response-dto.type.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, backend, shared, conflict

#77 fix: update body font family cy-76
  apps/frontend/src/assets/css/scaffolding.css
Labels: bug, frontend

#53 feat: add landing starting page cy-17
  apps/frontend/src/assets/css/variables/colors.css
  apps/frontend/src/assets/img/home/cat.png
  apps/frontend/src/assets/img/home/green-flower.svg
  apps/frontend/src/assets/img/home/home.img.tsx
  apps/frontend/src/assets/img/home/pink-stars.svg
  apps/frontend/src/assets/img/home/yellow-stars.svg
  apps/frontend/src/assets/img/home/yellow-twinkles.svg
  apps/frontend/src/assets/img/shared/logo-icon.svg
  apps/frontend/src/assets/img/shared/shared.img.tsx
  apps/frontend/src/libs/components/logo/logo.tsx
  apps/frontend/src/libs/components/logo/styles.module.css
  apps/frontend/src/pages/home/components/components.ts
  apps/frontend/src/pages/home/components/header/header.tsx
  apps/frontend/src/pages/home/components/header/styles.module.css
  apps/frontend/src/pages/home/components/hero/hero.tsx
  apps/frontend/src/pages/home/components/hero/styles.module.css
  apps/frontend/src/pages/home/components/nav/nav.tsx
  apps/frontend/src/pages/home/home.tsx
  apps/frontend/src/pages/home/styles.module.css
Labels: frontend

#81 fix: whitelist to allow public access to api documentation cy-80
  apps/backend/src/libs/modules/server-application/base-server-application.ts
Labels: bug, backend

#85 fix: remove redundant css values cy-84
  apps/frontend/src/assets/css/utilities/wrapper.css
  apps/frontend/src/assets/css/variables/spacing.css
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
Labels: bug, enhancement, frontend

#95 fix: trigger release cy-0
  apps/frontend/index.html
Labels: frontend

#96 fix: trigger release cy-0
  apps/frontend/index.html
Labels: frontend

#98 fix: fix env name cy-0
  .github/workflows/cd.yml
Labels: workflows

#99 fix: trigger release cy-0
  apps/frontend/index.html
Labels: frontend

#90 fix: extend name field validation error messages in sign-up validation schema cy-71
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-regex-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: bug, shared, qa

#70 fix: fix-sign-in-backend cy-69
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/modules/middleware/error-mapper.middleware.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/error-constants.enum.ts
  packages/shared/src/libs/enums/fastify-hook.enum.ts
  packages/shared/src/libs/types/types.ts
  packages/shared/src/libs/types/value-of.type.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/users.ts
Labels: bug, enhancement, backend, shared
